# ===== Build results =====
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# ===== Visual Studio cache/options =====
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ===== NuGet =====
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# ===== Rider / VS Code =====
.idea/
.vscode/

# ===== OS files =====
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# ===== Misc =====
*.bak
*.tmp
*~
